.Header {
  z-index: 1;
  background-color: #DCAC46;
  margin: 0;
  padding: 0.2em 0.5em;
  position: relative;
}

.Header .content {
  text-align: left;
}

.Header img.logo {
  display: inline-block;
  height: 3em;
  vertical-align: middle;
}

.Header ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
}

.Header ul li {
  display: inline-block;
  margin-left: 0.5em;
}

.Header ul li:nth-of-type(n+2) {
  margin-left: 1em;
}

.Header a,
.Header a:visited,
.Header a:active,
.Header a:hover,
.Header a:focus {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #212121;
  transition: padding, color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.Header a, .Header a:visited {
  padding-bottom: 0.1em;
  color: #212121;
  border-color: #212121;
}

.Header a:active,
.Header a:hover,
.Header a:focus {
  padding-bottom: 0.3em;
  color: white;
  border-color: white;
}

@media screen and (max-width: 700px) {
  .Header {
    padding-bottom: 0.5em;
  }

  .Header ul,
  .Header ul li,
  .Header img.logo {
    display: block;
    margin: 0.5em auto;
  }

  .Header ul li:nth-of-type(n) {
    margin: 0.5em auto;
    text-align: center;
  }
}