.FullWidthImage {
  position: relative;
  min-height: 400px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.FullWidthImage .content {
  width: 80%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FullWidthImage .content p {
  margin-top: 0;
}

.FullWidthImage .content img {
  width: 100%;
}

.FullWidthImage .content img:hover {
  -webkit-filter: brightness(1.1);
  -moz-filter: brightness(1.1);
  -o-filter: brightness(1.1);
  filter: brightness(1.1);
}