.MultiColumn {
  display: inline-block;
  vertical-align: top;
}

.MultiColumn h2 {
  margin-bottom: 0;
}

.MultiColumn .content {
  margin: 0.5em;
  padding: 0 1em;
  line-height: 1.4em;
  margin: 0.5em auto;
}

@media screen and (max-width: 700px) {
  .MultiColumn {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    text-align: center;
  }
}