.TitleImage {
  position: relative;
  background-size: cover;
  min-height: 700px;

  background: url('../assets/img/mainImage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/img/mainImage.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/img/mainImage.jpg', sizingMethod='scale')";
}

.TitleImage img.mainLogo {
  width: 50%;
}

.TitleImage .titles {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.TitleImage .titles h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

.TitleImage .titles p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .TitleImage img.mainLogo {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .TitleImage {
    min-height: 500px;
  }

  .TitleImage img.mainLogo {
    width: 80%;
  }

  .TitleImage .titles h1 {
    font-size: 3em;
  }
  
  .TitleImage .titles p {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .TitleImage {
    min-height: 300px;
  }

  .TitleImage img.mainLogo {
    width: 95%;
  }

  .TitleImage .titles h1 {
    font-size: 2em;
  }
  
  .TitleImage .titles p {
    font-size: 0.7em;
  }
}