.TitleImage {
  position: relative;
  background-size: cover;
  min-height: 700px;

  background: url('../assets/background_01_optimized.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/background_01.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/background_01.jpg', sizingMethod='scale')";
}

.TitleImage .titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.TitleImage .titles h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}

.TitleImage .titles p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 600;
}