@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

html, body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #212121;
}

main {
  background-color: #FFF;
  padding-bottom: 5em;
}

h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.summary {
  max-width: 1400px;
  margin: 8em auto;
}

.center {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .summary {
    margin: 4em auto;
  }
}